<div class="row" style="padding-top: 30px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="well text-center wth-title title-blue">
            Frequently Asked Questions
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-center">
           <!-- <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Who can join this hackathon
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            This competition is open to anybody 16 years and above. Anyone below 18 years old will require their parents to sign an indemnity form in order to use the equipment.
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What does it mean by "Ideas are open to interpretation"
                        </a>
                    </h4>

                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">It means that you can decide on how you want to argue your stance as. An example would be interpreting space as Outer Space (rockets, moon, planets) or Space in an architectural sense (A space we live in)</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What is the maximum team size
                        </a>
                    </h4>

                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">4 members maximum.</div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="FAQS">
            <div class="qns-container" >          
             <input type="checkbox" id="question1" class="dropdown">
              <label for="question1" class="question"><b>Who can join this hackathon</b></label>
             <svg  class="arrow" width="30" height="30" >
              <circle cx="15" cy="15" r="13"
              stroke="#44474c" stroke-width="3" fill="white" />
              <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
            </svg>
            </div>
        <div class="faq-answers">
            <hr>
            This competition is open to anybody 16 years and above. Anyone below 18 years old will require their parents to sign an indemnity form in order to use the equipment.
        </div>
        </div>
        <div class="FAQS">
            <div class="qns-container" >          
                <input type="checkbox" id="question2" class="dropdown">
                  <label for="question2" class="question"><b>What does it mean by "Ideas are open to interpretation"</b></label>
                 <svg  class="arrow" width="30" height="30" >
                  <circle cx="15" cy="15" r="13"
                  stroke="#44474c" stroke-width="3" fill="white" />
                  <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                </svg>
          </div>
        <div class="faq-answers">
            <hr>
            It means that you can decide on how you want to argue your stance as. An example would be interpreting space as Outer Space (rockets, moon, planets) or Space in an architectural sense (A space we live in)
          </div>
        </div>
        <div class="FAQS">
        <div class="qns-container" >          
            <input type="checkbox" id="question3" class="dropdown">
              <label for="question3" class="question"><b>What is the maximum team size</b></label>
             <svg  class="arrow" width="30" height="30" >
              <circle cx="15" cy="15" r="13"
              stroke="#44474c" stroke-width="3" fill="white" />
              <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
            </svg>
        </div>
        <div class="faq-answers">
            <hr>
            4 members maximum.
          </div>
        </div>

        </div>
        </div>
    </div>
</div>