<div class="row" id="faq" style="padding-top: 30px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="well text-center wth-title title-blue">
            Frequently Asked Questions
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-center">

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question1" class="dropdown">
                    <label for="question1" class="question"><b>Who can join this hackathon</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    This competition is open to anybody 16 years and above. Anyone below 18 years old will require their
                    parents to sign an indemnity form in order to use the equipment.
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question2" class="dropdown">
                    <label for="question2" class="question"><b>What does it mean by "Ideas are open to
                        interpretation"</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    It means that you can decide on how you want to argue your stance as. An example would be
                    interpreting space as Outer Space (rockets, moon, planets) or Space in an architectural sense (A
                    space we live in)
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question3" class="dropdown">
                    <label for="question3" class="question"><b>What is the maximum team size</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    4 members maximum.
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question3" class="dropdown">
                    <label for="question3" class="question"><b>What are my transport/parking options for getting to and
                        from the event?</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    If you are taking public transport, you can take bus 2 and 24 from Tanah Merah MRT and bus 5 from
                    Simei
                    <br>
                    If you are driving, you can park in SUTD's basement carpark
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question3" class="dropdown">
                    <label for="question3" class="question"><b>What can I bring to the event</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    Things like your laptops or any materials that you will need to create your prototype. We will provide basics like arduinos and some sensors to prototype your idea with.
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question3" class="dropdown">
                    <label for="question3" class="question"><b>How do we handle Intellectual Property (IP)</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    Participants own all rights to the Intellectual Property produced by them or their team during the Competition, but the organising committee can showcase the IP as part of publicity for future events. For a more detailed explaination, you can download the Terms and Conditions <a href="http://bit.ly/wthtncv1"> here </a>.
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question3" class="dropdown">
                    <label for="question3" class="question"><b>What if I dont have any skills with fabrication?</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    No Worries, the point of What The Hack is to learn and using what you learn to create something. We will be holding several workshops for beginners to learn more about fabrication techniques and how to use the machinery provided during the hackathon!
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question3" class="dropdown">
                    <label for="question3" class="question"><b>My question isnt located on the FAQs! Who should I contact?</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    For any queries/uncertainties, please feel free to drop us a email at queries@sutdwth.com
                </div>
            </div>

        </div>
    </div>
</div>