<div class="row" id="faq" style="padding-top: 30px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="well text-center wth-title title-blue">
            Frequently Asked Questions
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-center">

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question1" class="dropdown">
                    <label for="question1" class="question"><b>Is this hackathon free?</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    Yes, this hackathon is free. All that we ask of you is for you to come down on the day itself!
                </div>
            </div>


            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question1" class="dropdown">
                    <label for="question1" class="question"><b>Who can join this hackathon</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    This competition is open to anybody 13 years old and above as at the date of the competition. Anyone below 18 years old will require his/her their parent’s consent to participate in the competition. Please print out the consent and indemnity form which can be found <a href="bit.ly/2w4H8Fu"> here </a>
                    for your parent’s signature and  to sign an indemnity form and bring it on the day of to the competition. 
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question2" class="dropdown">
                    <label for="question2" class="question"><b>What does it mean by "Ideas are open to
                        interpretation"</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    It means that you can decide how you want to argue your stance. An example would be
                    interpreting space as Outer Space (rockets, moon, planets) or Space in an architectural sense (A
                    space we live in)
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question3" class="dropdown">
                    <label for="question3" class="question"><b>What is the maximum team size</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    4 members maximum.
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question3" class="dropdown">
                    <label for="question3" class="question"><b>What are my transport/parking options for getting to and
                        from the event?</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    If you are taking public transport, you can take bus 2 and 24 from Tanah Merah MRT and bus 5 from
                    Simei
                    <br>
                    If you are driving, you can park in SUTD's basement carpark
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question3" class="dropdown">
                    <label for="question3" class="question"><b>What can I bring to the event</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    Things like your laptops or any materials that you will need to create your prototype. We will provide basics like arduinos and some sensors to prototype your idea with.
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question3" class="dropdown">
                    <label for="question3" class="question"><b>How do we handle Intellectual Property (IP)</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    Please refer to the Terms and Conditions of the Competition with regards to IP. You can download the Terms and Conditions <a href="http://bit.ly/wthtncv1"> here </a>.
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question3" class="dropdown">
                    <label for="question3" class="question"><b>What if I dont have any skills with fabrication?</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    No Worries, the point of What The Hack is to learn and to use what you have learned to create something. We will be holding several workshops for beginners to learn more about fabrication techniques and how to use the machinery provided during the hackathon!
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question3" class="dropdown">
                    <label for="question3" class="question"><b>My question can't be found in the the FAQs! Who should I contact?</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    For any queries or clarification, please feel free to drop us a email at queries@sutdwth.com
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question3" class="dropdown">
                    <label for="question3" class="question"><b>Can I start ideating before the competition?</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    Yes, you can begin conceptualizing your ideas or planning your approach to the themes before the competition. However only work done on the prototype during the competition itself will be judged.
                </div>
            </div>

            <div class="FAQS">
                <div class="qns-container">
                    <input type="checkbox" id="question3" class="dropdown">
                    <label for="question3" class="question"><b>Where can I find the indemnity form?</b></label>
                    <svg class="arrow" width="34" height="30" preserveAspectRatio="xMinYMid">
                        <circle cx="15" cy="15" r="13"
                                stroke="#44474c" stroke-width="3" fill="white"/>
                        <path d="M9 12 L15 21 L21 12 Z" fill="#44474c"/>
                    </svg>
                </div>
                <div class="faq-answers">
                    <hr>
                    Participants below the age of 18 will need their parent’s consent to participate in the competition. Thus, they will need to submit the consent and indemnity form signed by their parent/guardian at the registration counter on the day of the competition. For all other participants, we will provide the forms for your signature at the registration counter on the day of the competition itself! 
                    You can download the indemnity form from <a href="http://bit.ly/wthtncv1"> here </a>
                </div>
            </div>

        </div>
    </div>
</div>