<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>What The HACK @ SUTD</title>
  <link rel="shortcut icon" href="{{ url_for('static',filename='assets/wth_favicon.ico') }}" type="image/x-icon" />
  <!-- CSS LINKS-->
  {% assets "css_all" %}
    <link rel= "stylesheet" type= "text/css" href= "{{ASSET_URL}}">
  {% endassets %}

  <!--JAVASCRIPTS-->
  {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<div class="container-fluid full">
  {% include 'navbar.html' %}
  {% include 'main_logo.html' %}
  <div id="content-body" class=" container-fluid">
    <div id="dashed-line"></div>
    {% include 'intro.html' %}
    {% include 'problems_and_prizes.html' %}
    {% include 'world_changing_tool.html' %}
    {% include 'sponsors.html' %}
    {% include 'faq.html' %}
    {% include 'contact.html' %}
  </div>
</div>
</body>
</html>
