<div id="schedule" class="row" style="padding-top: 30px;">
  <div class="col-md-8 col-md-offset-2">
    <div  class="well text-center wth-title title-teal">
      Schedule
    </div>
    <div class="well wth-text text-flex">
      <h3>General Schedule</h3>
      <table class="table table-striped">
        <colgroup>
          <col class='day' />
          <col class='timing' />
          <col class='activity' />
        </colgroup>
        <thead>
          <tr>
            <th>Day</th>
            <th>Timing</th>
            <th>Activity</th>
          </tr>
        </thead>
        <tr>
          <td>Sat</td>
          <td>0900 - 1000</td>
          <td>Registration</td>
        </tr>
        <tr>
          <td>Sat</td>
          <td>1000 - 1100</td>
          <td>Briefing</td>
        </tr>
        <tr>
          <td>Sat / Sun</td>
          <td>1100 - 1100</td>
          <td>Hacking</td>
        </tr>
        <tr>
          <td>Sun</td>
          <td>1100 - 1300</td>
          <td>Move to exhibition location (ISH/MPH)</td>
        </tr>
        <tr>
          <td>Sun</td>
          <td>1300 - 1400</td>
          <td>Lunch</td>
        </tr>
        <tr>
          <td>Sun</td>
          <td>1400 - 1600</td>
          <td>Judging</td>
        </tr>
        <tr>
          <td>Sun</td>
          <td>1600 - 1700</td>
          <td>Exhibition while scores are collated</td>
        </tr>
        <tr>
          <td>Sun</td>
          <td>1700 - 1800</td>
          <td>Winners announced and prizes are given out</td>
        </tr>    
      </table>

      <h3 class='text-center'>Workshops Schedule</h3>
      <table class="table table-striped">
        <colgroup>
          <col class='day' />
          <col class='timing' />
          <col class='activity' />
        </colgroup>
        <thead>
          <tr>
            <th>Day</th>
            <th>Timing</th>
            <th>Activity</th>
          </tr>
        </thead>
        <tr>
          <td>Sat</td>
          <td>1115 - 1230</td>
          <td>Design Thinking</td>
        </tr>
        <tr>
          <td>Sat</td>
          <td>1115 - 1230</td>
          <td>3D Printing</td>
        </tr>        
        <tr>
          <td>Sat</td>
          <td>1415 - 1500</td>
          <td>Arduino</td>
        </tr>
        <tr>
          <td>Sat</td>
          <td>1515 - 1600</td>
          <td>Open Data</td>
        </tr>
        <tr>
          <td>Sat</td>
          <td>2115 - 2200</td>
          <td>Hacking Hackathons</td>
        </tr>
        <tr>
          <td>Sun</td>
          <td>1300 - 1400</td>
          <td>Idea Into Startup</td>
        </tr>
      </table>
    </div>
  </div>
</div>
