<div id="schedule" class="row" style="padding-top: 30px;">
  <div class="col-md-8 col-md-offset-2">
    <div  class="well text-center wth-title title-teal">
      Schedule
    </div>
    <div class="well wth-text text-flex">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Timing</th>
            <th>Activity</th>
          </tr>
        </thead>
        <tr>
          <td>0900 - 1000 [Sat]</td>
          <td>Registration</td>
        </tr>
        <tr>
          <td>1000 - 1100 [Sat]</td>
          <td>Briefing</td>
        </tr>
        <tr>
          <td>1100 - 1100 [Sat-Sun]</td>
          <td>Hacking</td>
        </tr>
        <tr>
          <td>1100 - 1300 [Sun]</td>
          <td>Move to exhibition location (ISH/MPH)</td>
        </tr>
        <tr>
          <td>1400 - 1600 [Sun]</td>
          <td>Judging</td>
        </tr>
        <tr>
          <td>1600 - 1700 [Sun]</td>
          <td>Exhibition while scores are collated</td>
        </tr>
        <tr>
          <td>1700 - 1800 [Sun]</td>
          <td>Winners announced and prizes are given out</td>
        </tr>    
      </table>
    </div>
  </div>
</div>
