<div class="row" id="sponsors" style="padding-top: 30px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="well text-center wth-title">
            Sponsors and Partners
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-flex tier-container">
            <div class="sponsor-header">
                Platinum Tier
                <hr>
            </div>
            <div class="sponsor-container platinum">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-flex tier-container">
            <div class="sponsor-header">
                Gold Tier
                <hr>
            </div>
            <div class="sponsor-container gold">
                <img class="sponsor-img" src="{{ url_for('static',filename='assets/Keysight_Signature_Website.png')}}"/>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-flex tier-container">
            <div class="sponsor-header">
                Silver Tier
                <hr>
            </div>
            <div class="sponsor-container silver">
            </div>
            <div class="sponsor-container silver">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-flex tier-container">
            <div class="sponsor-header">
                Bronze Tier
                <hr>
            </div>
            <div class="sponsor-container bronze">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-flex tier-container">
            <div class="sponsor-header">
                Organized by:
                <hr>
            </div>
            <div class="sponsor-container gold">
                <img class="sponsor-img sutd" src="{{ url_for('static',filename='assets/sutd.png')}}"/>
            </div>

        </div>
    </div>
</div>