<div class="row" id="sponsors" style="padding-top: 30px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="well text-center wth-title">
            Sponsors and Partners
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-flex tier-container">
            <div class="sponsor-header">
                Platinum Tier
                <hr>
            </div>
            <div class="sponsor-container platinum">
            <a href="http://headfoundation.org/">
                <img class="sponsor-img" src="{{ url_for('static',filename='assets/HEADlogominified.png')}}"/></a>
                <p>The HEAD Foundation (THF) is a charitable organisation set up in 2013 in Singapore to contribute to the development of Asia. As a think-tank, THF focuses on issues around human capital, education, leadership and sustainability. With an in-house research and project management team, THF supports researches and social initiatives related to these issues. The Foundation also partners with like-minded global and regional experts and institutions to advance their common goal of empowering Asia’s development through education and human capital development.</p>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-flex tier-container">
            <div class="sponsor-header">
                Gold Tier
                <hr>
            </div>
            <div class="sponsor-container gold">
                <a href='http://www.keysight.com/'><img class="sponsor-img" src="{{ url_for('static',filename='assets/Keysight_Signature_Website.png')}}"/></a>
            <!-- <p>Keysight Technologies is the world’s leading electronic measurement company, transforming today’s measurement experience through innovations in wireless, modular, and software solutions. With its HP and Agilent legacy, Keysight delivers solutions in wireless communications, aerospace and defense and semiconductor markets with world-class platforms, software and consistent measurement science.</p> -->
            </div>
            <div class="sponsor-container gold">
                <a href='https://stripe.com/sg'>
                    <img class="sponsor-img" src="{{ url_for('static',filename='assets/stripelogo.png')}}"/>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-flex tier-container">
            <div class="sponsor-header">
                Silver Tier
                <hr>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-flex tier-container">
            <div class="sponsor-header">
                Bronze Tier
                <hr>
            </div>
            <div class="sponsor-container bronze">
                <a href='https://www.accenture.com/sg-en/new-applied-now'>
                    <img class="sponsor-img" src="{{ url_for('static',filename='assets/accenturemin.png')}}"/>
                </a>
            </div>
            <div class="sponsor-container bronze">
                <a href='http://www.rga.com'>
                    <img class="sponsor-img" src="{{ url_for('static',filename='assets/rga.png')}}"/>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-flex tier-container">
            <div class="sponsor-header">
                Organized by:
                <hr>
            </div>
            <div class="sponsor-container gold">
                <img class="sponsor-img sutd" src="{{ url_for('static',filename='assets/sutd.png')}}"/>
            </div>

        </div>
    </div>
</div>