<div id="workshops" class="row" style="padding-top: 30px;">
    <div class="col-md-8 col-md-offset-2">
        <div  class="well text-center wth-title title-yellow">
            Workshops
        </div>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-flex">
            <div class="theme-container info-text">
                <b class="">Hacking for 24hrs straight is unproductive! Pick up a new skill during your breaks with these quick, 45 minute workshops! Depending on interest level, we'll have the following optional workshops interspersed with your hacking time:</b><br>
                <hr>
                <div class="prize-info">
                    <div class="workshop-container">
                        <div class="svg-container">
                        </div>
                        <p><b>Design Thinking</b></p>
                        <hr>
                        <ul>
                            <li>Stuck trying to come up with an idea? The Design Odyssey team will give you a primer on SUTD's design curriculum to get those creative juices flowing!</li>
                        </ul>
                    </div>

                    <div class="workshop-container">
                        <div class="svg-container">
                        </div>
                        <p><b>Hacking Hackathons</b></p>
                        <hr>
                        <ul>
                            <li>Learn from the best - our speaker Agrim Singh has won 17 hackathons in less than 4 years!</li>
                        </ul>
                    </div>

                    <div class="workshop-container">
                        <div class="svg-container">
                        </div>
                        <p><b>Arduino / ESP8266 (TBC)</b></p>
                        <hr>
                        <ul>
                            <li>Want to get into smart devices and home automation, but know nothing about electronics prototyping? SUTD's own branch of IEEE has got your back! This workshop will help you get your hands dirty with microcontrollers!</li>
                        </ul>
                    </div>

                    <div class="workshop-container">
                        <div class="svg-container">
                        </div>
                        <p><b>3D Printing</b></p>
                        <hr>
                        <ul>
                            <li>Need to rapidly prototype but not sure how to work those 3D printers we're providing? We'll walk you through the basics so that you can bring your designs to life!</li>
                        </ul>
                    </div>

                    <div class="workshop-container">
                        <div class="svg-container">
                        </div>
                        <p><b>Web Development Workshop</b></p>
                        <hr>
                        <ul>
                            <li>Beef up your web dev skillset in just 45 minutes! Specific details on the technology of focus are coming soon</li>
                        </ul>
                    </div>

                    <div class="workshop-container">
                        <div class="svg-container">
                        </div>
                        <p><b>Idea into Startup</b></p>
                        <hr>
                        <ul>
                            <li>So you hack like madpeople, make something cool and have a ton of fun. What's next? SUTD's very own Startups Club shows you what action to take to turn your hackathon MVP into a real-life startup!</li>
                        </ul>
                    </div>

            </div>
        </div>
    </div>
</div>


    
