.theme-container{
	margin-top:2rem;
	flex-direction: row;
	width:100%;
	
}

.theme-container > div{
	margin-top:3rem;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 3rem;
	justify-content: center;
	align-items:center;
}

.theme-container .theme-title{
	font-size:1.5em;
}

.theme-container .problem-themes > svg{
	margin-top: 30px;
	flex:1;
	min-width:250px;
	height:150px;
}

.prize-container{
	flex:2;
	display:flex;
	min-width: 280px;
	max-width: 50%;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.prize-container .svg-container{
	margin:10px auto;
	width: 100px;
	min-width: 100px;
}

.prize-container ul{
	text-align: left;
}

.prize-container p{
	color:black;
	margin-top:10px;
}

.prize-container hr{
	margin: 0px 20px;
}
.prize-info{
	margin: 0px 10px;
}
.major-prize{
	flex:2;
	width:100%;
	padding:5px 20px;
	min-width: 300px;
	max-width: 100%;
	justify-content: center;
    align-items: center;
}

.major-prize hr{
	width:80%;
	min-width:250;
}

.major-prize ul{
	display:block;
}

.sponsor-prize-container{
    min-width:150px;
    max-width: 40%;
    max-height: 100px;
    flex:1;
}

.major-prize-logos{
	min-width:300px;
}

.arrange-items{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sponsor-prize-container > .arrange-items a{
	flex:1;
	margin: 5px 10px;
}

.sponsor-prize-container .sponsor-prize-img{
    max-width: 100%;
    height:auto;
    margin:5px 10px;
    float: right;
}
