.workshop-container{
	flex:2;
	display:flex;
  min-height: 350px;
	min-width: 280px;
	max-width: 50%;
	flex-direction: column;
	text-align: center;
}

.workshop-container .svg-container{
	margin:10px auto;
	width: 100px;
	min-width: 100px;
}

.workshop-container ul{
	text-align: left;
}

.workshop-container p{
	color:black;
	margin-top:10px;
}

.workshop-container hr{
	margin: 0px 20px;
}

body {
  background-color: black !important;
}
