@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700');


.body-text{
  color: #f6f3ea;
  font-family: "montserrat",sans-serif;
}

.centered{
  display: flex;
  justify-content: center;
}
.content-container{
  width: 90%;
  min-width: 100%;
  margin:0px 10px;
}

h1,h2,p{
  font-family: 'Montserrat', sans-serif;
  color: #f6f3ea;
}


/*<!---- Landing Page Section ---->*/


html,body {
  height: 100%;
}

div{
  outline:none;
}

b{
  font-weight:700;
  letter-spacing: 0.08rem;
}

.full {
  padding: 0px;
  min-height: 100%;
  height: 100%;
  width: 100%;
}

#dashed-line {
  position: fixed;
  height:100%;
  top:0;
  left: 50%;
  border-left: 2px dashed #2f2521;
  z-index: 5;
}

#content-body {
  padding-top: 3rem;
  min-height: 100%;
  background: #f6f3ea;
  display: block;
}

.well {
  border-radius: 20px;
  position: relative;
  z-index: 999;
}

.maps-container{
     position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.maps-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wth-text {
  font-family: "montserrat", sans-serif;
  background-color: white;
  color: black;
  font-size: 1.7rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.wth-text li{
  padding-top: 7px;
}

.text-flex{
  font-family: "montserrat", sans-serif;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding:50px ;
}
.info-pic{
  width:20%;
  min-width: 200px;
  margin: 0px auto;
  margin-bottom: 20px;

}

.info-text{
  width: 80%;
  margin: 0px auto;
}

.info-text hr{
  height:0.2rem;
  margin:10px 0px;
  background-color: grey;
}

.wth-title {
  border:none;
  border-radius: 100px;
  font-family: "montserrat", sans-serif;
  font-weight:700;
  letter-spacing: 0.08rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: #e2443b;
  color: white;
  font-size: 4rem;
}

.title-yellow{
  background-color: #e5a51f;
}

.title-teal {
  background-color: #14848f;
}

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f055";
    padding-right: 5px;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f056";
}
.panel-title > a:hover, 
.panel-title > a:active, 
.panel-title > a:focus  {
    text-decoration:none;
}

#sloth{
    min-width: 100px;
    width:100%;
    max-height: 400px;
}

.caveat{
  text-align: center;
  font-size:1rem;
  color: black;
}