<div class="row" style="padding-top: 30px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="well text-center wth-title3">
            Contacts and Other Information
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-center">
        
        </div>
        <div class="well wth-text text-center maps-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d7977.45092578333!2d103.96182!3d1.341074!3m2!1i1024!2i768!4f13.1!4m6!3e2!4m0!4m3!3m2!1d1.3407928!2d103.962436!5e0!3m2!1sen!2ssg!4v1498815129584" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>