<!DOCTYPE HTML>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS LINKS-->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/wth.css') }}">

  <!--JAVASCRIPTS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='scripts/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='scripts/anime.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static',filename='scripts/wth.js') }}"></script>

</head>
<body>
{% include 'navbar.html' %}
{% include 'main_logo.html' %}
</body>
</html>
