<div class="row" id="about">
    <div class="col-md-8 col-md-offset-2">
        <div class="well text-center wth-title">
            What is What The Hack?
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-flex ">
            <div class=" info-pic">
                Awaiting Vector Image

            </div>
            <div class="info-text ">
            <b>What The Hack</b>  @ SUTD is a 24 Hour hackathon that aims to bring together people of multiple disciplines and provides them with the resources to jumpstart their ideas.<br>
            <br>
            <b>What you get out of What The Hack:</b>
            <ul>
                <li>Bring crazy ideas to life</li>
                <li>Further develop on your ideas after the Hackathon with The MIT+SUTD Design Odyssey Programme</li>
                <li>learn to use advanced prototyping tools such as 3D modelling tools,laser cutters and 3D Printers</li>
                <li>Network with our sponsors!</li>
            </ul>
            </div>
        </div>
    </div>
</div>