<div class="row" id="sponsors" style="padding-top: 30px;">
    <div class="col-md-8 col-md-offset-2">
        <div class="well text-center wth-title">
            Sponsors and Partners
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-center">
            <h3>Platinum Tier</h3>
            <br><br><br><br><br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-center">
            <h3>Gold Tier</h3>
            <br><br><br><br><br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-center">
            <h3>Silver Tier</h3>
            <br><br><br><br><br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well wth-text text-center">
            <h3>Bronze Tier</h3>
            <br><br><br><br><br>
        </div>
    </div>
</div>