@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*<!-----navbar section------------->*/
/*.navbar{
  padding: 0px !important;
  border:none !important;
  border-radius: 0px !important;
  margin-bottom:0px !important;
}

.navbar-inverse{
  margin:0px !important;
  padding-bottom:20px;
}

.navbar-container{
  height:50px;
  width: 100%;
  background-color: #2f2521;
}

@media  (max-width: 1000px) {
   .collapse {
       display: none !important;
   }
}*/

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 1.8rem;
    background-color: rgba(47, 37, 33, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(47, 37, 33, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(47, 37, 33, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(47, 37, 33, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #2f2521;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #2f2521;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #2f2521;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #2f2521;
}



/*<!---- Landing Page Section ---->*/
.landing-section{
  font-family: 'Montserrat', sans-serif;
  background-color: #2f2521;
  height:100vh !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*For the WHAT THE HACK words*/
.logo-row{
  top:100px;
  height:25vh;
  display: flex;
  margin-top:-300px;
  justify-content: center;    
}

.logo-row > .logo-letter{
  display:inline;
  height:100%;
  margin: 0px 10px 0px 10px;
  fill:#e2443a;
  stroke:#e2443a;`
  stroke-miterlimit:10;
}

.wth-fill{
  stroke: none;
  opacity:0;
}
.wth-stroke{
  fill: none;
}

.logo-row > .logo-letter:nth-child(2n){
  fill:#e5a625; 
  stroke:#e5a625;
}
.logo-row > .logo-letter:nth-child(3n){
  fill:#14848f;
  stroke:#14848f;
}



.SomeTxt{
  color: white;
  width:0%;
  overflow:hidden;
}npm 